
#title {
  background-color: #ff4c68;
}

body {
  /* font-family: "Montserrat"; */
}

h1 {
  font-family: 'Montserrat', sans-serif;
      line-height: 1.5;
      font-weight: 900;
      font-size: 3.5rem;
      color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  /* font-family: 'Ubuntu', sans-serif; */
   font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 3% 5% 3% 0;
}

.title-image {
  width: 20%;
  transform: rotate(30deg);
  position: absolute;
  right: 25%;
}
@media (max-width: 1000px) {
    .title-image {
      position: static;
    }

    #title {
      text-align: center;
    }
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  text-align: center;
  background: #ff4c68;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}
